[submodule "Dependencies/ImGui/imgui"]
	path = Dependencies/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependencies/Emscripten/emsdk"]
	path = Dependencies/Emscripten/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/YAML-Cpp/yaml-cpp"]
	path = Dependencies/YAML-Cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule ".\\Dependencies\\ImGuizmo"]
	path = .\\Dependencies\\ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
